<!DOCTYPE html>
<html lang='ja'>
<head>
  <%= require('html-loader!./common/head.html') %>
  <title>Lisq's portfolio</title>
</head>
<body>
  <%= require('html-loader!./common/header.html') %>
  <main class="main">
    <div class="main_wrap">
      <h1 class="main_title"><img src="/src/images/about/about_title.png" width="616" height="229" alt="My Works" /></h1>
      <div class="main_contents">
        <div class="main_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/about/about_main.png" width="1575" height="721" alt="" />
          </a>
         </div>
        <ul class="main_sub">
          <li class="main_sub_list">
            <a href="../Works/detail.html">
            <img src="/src/images/about/about_card.png" width="504" height="480" alt="" />
            </a>
          </li>
          <li class="main_sub_list">
            <a href="../Works/detail.html">
              <img src="/src/images/about/about_sauna.png" width="1041" height="479" alt="" />
            </a>
          </li>
          <li class="main_sub_list">
            <a href="../Works/detail.html">
              <img src="/src/images/about/about_onigiri.png" width="1041" height="481" alt="" />
            </a>
          </li>
          <li class="main_sub_list">
            <a href="../Works/detail.html">
              <img src="/src/images/about/about_goodmorning.png" width="505" height="481" alt="" />
            </a>
          </li>
        </ul>
        <div class="footer_main">Copyright © 2020  Naito Lisq Portfolio All Rights Reserved.</div>
        <a href="https://www.instagram.com/rq_gram/" class="instagram">
          <img src="/src/images/about/about_instagram.png" width="68" height="68.5" alt="" />
        </a>
      </div>
    </div>
  </main>
</body>
</html>
