<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <main class="newsDetail">
    <div class="newsDetail_wrap">
      <h1 class="newsDetail_title">
        <p class="newsDetail_title_text">
          <img src="/src/images/news/news_title.png" width="616" height="229" alt="News" />
        </p>
      </h1>
      <div class="newsDetail_detail">
        <div class="newsDetail_detail_contents">
          <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
          <figure>
            <img src="/src/images/news/image_gray.jpg" width="880" height="500" alt="" />
          </figure>
          <p class="newsDetail_detail_text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
      </div>
    </div>
  </main>
</body>
<%= require('html-loader!../common/footer.html') %>
</html>