<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <main class="news">
    <div class="news_wrap">
      <h1 class="news_title">
        <p class="news_title_text"><img src="/src/images/news/news_title.png" width="616" height="229" alt="News" /></p>
      </h1>
      <div class="news_detail">
        <div class="news_detail_contents">
          <a href="./" class="news_detail_link">
           タイトルタイトルタイトルタイトルタイトルタイトルタイトル
          </a>
          <a href="./" class="news_detail_link">
            タイトルタイトルタイトルタイトルタイトルタイトルタイトル
          </a>
          <a href="./" class="news_detail_link">
            タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
           <a href="./" class="news_detail_link">
             タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
           <a href="./" class="news_detail_link">
            タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
           <a href="./" class="news_detail_link">
             タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
        </div>
      </div>
    </div>
  </main>
</body>
<%= require('html-loader!../common/footer.html') %>
</html>