<!DOCTYPE html>
<html lang='ja'>
<head>
  <%= require('html-loader!../common/head.html') %>
  <title>News | Lisq's portfolio</title>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <main class="news">
    <div class="news_wrap">
      <h1 class="news_title">
        <img src="/src/images/news/news_title.png" width="616" height="229" alt="News" />
      </h1>
      <!--ここに開発で記事に合わせてリンクを作成する-->
      <div class="news_detail">
        <div class="news_detail_contents">
          <a href="../News/indexDetail.html" class="news_detail_link">
           タイトルタイトルタイトルタイトルタイトルタイトルタイトル
          </a>
          <a href="../News/indexDetail.html" class="news_detail_link">
            タイトルタイトルタイトルタイトルタイトルタイトルタイトル
          </a>
          <a href="../News/indexDetail.html" class="news_detail_link">
            タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
           <a href="../News/indexDetail.html" class="news_detail_link">
             タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
           <a href="../News/indexDetail.html" class="news_detail_link">
            タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
           <a href="../News/indexDetail.html" class="news_detail_link">
             タイトルタイトルタイトルタイトルタイトルタイトルタイトル
           </a>
        </div>
      </div>
    </div>
  </main>
  <%= require('html-loader!../common/footer.html') %>
</body>
</html>