<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <main class="links">
    <div class="links_wrap">
      <h1 class="links_title">
        <p class="links_title_text"><img src="/src/images/links/links_title.png" width="616" height="229" alt="Links" /></p>
      </h1>
      <div class="links_detail">
        <div class="links_detail_contents">
          <p class="links_name">@rq_gram</p>
          <ul class="links_id">
            <li class="links_text">
              <a href="./" class="news_detail_link">
                Twitter： @XXXXXXXXX
               </a>
            </li>
            <li class="links_text">
              <a href="./" class="news_detail_link">
                Instagram： @XXXXXXXXX
               </a>
               <figure class="links_image">
                <img src="/src/images/links/links_image_1.jpg" width="874" height="273" alt="" />
              </figure>
            </li>
          </ul>
        </div>
        <div class="links_detail_contents">
          <p class="links_name"><small>Fashion Brand</small><br>@rq_gram</p>
          <ul class="links_id">
            <li class="links_text">
              <a href="./" class="news_detail_link">
                Instagram： @XXXXXXXXX
               </a>
               <figure class="links_image">
                <img src="/src/images/links/links_image_2.jpg" width="874" height="393" alt="" />
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>
<%= require('html-loader!../common/footer.html') %>
</html>