<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <main class="works">
    <div class="works_wrap">
    <h1 class="works_title">
      <p class="works_title_text"><img src="src/images/works/works_title.png" width="616" height="229" alt="Works" /></p>
    </h1>
      <div class="works_detail">
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="" />
      </a>
      <a href="./" class="works_detail_visual">
        <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="" />
      </a>
      </div>
    </div>
  </main>

</body>
<%= require('html-loader!../common/footer.html') %>
<!--ここにfooterを入れる-->
</html>