<!DOCTYPE html>
<html lang='ja'>
<head>
  <%= require('html-loader!../common/head.html') %>
  <title>Works | Lisq's portfolio</title>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <main class="works">
    <div class="works_wrap">
      <h1 class="works_title">
        <img src="/src/images/works/works_title.png" width="616" height="229" alt="Works" />
      </h1>
     <!--TODO：ここに開発で記事に合わせてリンクを作成する-->
     <!--TODO：altに作品タイトルを入れる-->
      <ul class="works_detail">
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="作品タイトルを入れる" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="作品タイトルを入れる" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="作品タイトルを入れる" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="作品タイトルを入れる" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="作品タイトルを入れる" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="作品タイトルを入れる" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail1.jpg" width="660" height="626" alt="" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail2.jpg" width="660" height="626" alt="" />
          </a>
        </li>
        <li class="works_detail_visual">
          <a href="../Works/detail.html">
            <img src="/src/images/works/works_detail3.jpg" width="660" height="626" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </main>
  <%= require('html-loader!../common/footer.html') %>
</body>
</html>