<!DOCTYPE html>
<html lang='ja'>
<head>
  <%= require('html-loader!../common/head.html') %>
  <title>WorksDetail | Lisq's portfolio</title>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <div class="workDetail_wrap">
    <article class="workDetail_detail">
      <div class="workDetail_detail_contents">
        <p class="workDetail_detail_title">
          <small>Graphic Design</small>
          タイトルタイトルタイトル
        </p>
        <p class="workDetail_detail_text">
          作品の説明が入ります作品の説明が入ります作品の説明が入ります
          作品の説明が入ります作品の説明が入ります作品の説明が入ります
          作品の説明が入ります作品の説明が入ります作品の説明が入ります
          作品の説明が入ります作品の説明が入ります作品の説明が入ります
          作品の説明が入ります作品の説明が入ります作品の説明が入ります。
        </p>
      </div>
      <div class="workDetail_detail_season">
        <p class="workDetail_detail_season years">2018</p>
        <p class="workDetail_detail_season cl">CL：XXXXXXX</p>
        <p class="workDetail_detail_season cl">作業時間：XXXXXXX</p>
      </div>
    </article>
    <div class="workDetail_image">
      <figure class="workDetail_image_contents">
        <img src="/src/images/worksdetail/worksdetail_image1.jpg" width="2160" height="1510" alt="News" />
      </figure>
      <figure class="workDetail_image_contents">
        <img src="/src/images/worksdetail/worksdetail_image2.jpg" width="2160" height="2358" alt="News" />
      </figure>
      <figure class="workDetail_image_contents">
        <img src="/src/images/worksdetail/worksdetail_image3.jpg" width="2160" height="1510" alt="News" />
      </figure>
    </div>
    <a href="./" class="workDetail_link">
      Back
    </a>
  </div>
  <%= require('html-loader!../common/footer.html') %>
</body>
</html>