.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  
  &_wrap{
    width: 1600px;
    margin: auto;
  }

  &_all{
    display: flex;
    padding: 30px 0;
  }

  &_left{
    padding-left: 20px;
  }

  &_right{
    margin-left: auto;
    padding-right: 20px;
    display: flex;

    >li{
      >a{
        padding-right: 25px;
        font-size: 1.4rem;
        font-weight: bold;
        color: $text200;
      }
    }
  }
}

.footer{
  background-color: $gray400;
  padding: 20px;

  &_copy{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: $text200;
    font-weight: bold;
  }
}