.main{
  color: $text200;
  padding-bottom: 100px;

  &_contents{
    margin: 0 auto;
    text-align: center;
    padding: 0 14%;

    //imageが読み込まれていない &いる？
    &::after{
      background-image: url(/src/images/about/about_copy.png);
    }

    &_sub{
      display: flex;
    }
  }

  &_title{
    text-align: left;
    padding-top: 25px;

    >img{
      width: 400px;
      height: auto;
    }
  }
}

.instagram{
  padding: 0 14%;
  margin-left: 10px;
}
