.links{
    color: $text200;
    font-size: 1.7rem;
    font-weight: bold;
  
      &_wrap{
        position: relative;
        width: $md;
        margin: auto;
      }
    
      &_title{
        position: absolute;
        top: 60px;

        >img{
          width: 40%;
          height: auto;
        }
      }

      &_id{
        line-height: 2; //2行分;
      }

      &_name{
        margin-bottom: 20px;
        line-height: 1.5; //３文字分;

        >small{
          font-size: 1.5rem;
        }
      }

      &_image{
        padding-top: 25px;
      }
    
      &_detail{
        width: $md;
        padding: 220px 0 100px;
  
        &_contents{
          display: flex;
          flex-direction: column;
          background-color: $gray400;
          line-height: 3;
          padding: 30px 50px;
          margin-top: 20px;
        }
      }
    }