<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <section class="profile">
    <figure class="profile_photo">
      <img src="/src/images/profile/profile_main.png" width="300" height="300" alt="" />
    </figure>
    <div class="profile_box">
      <p class="profile_box_name">Naito Lisa</p>
      <p class="profile_box_comment">一眼レフとサウナがすきです♨️</p>
    </div>
    <div class="profile_career">
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
      <div class="profile_career_contents">
        <p class="profile_career_contents date">2020.12.XX</p>
        <p class="profile_career_contents comment">これはダミーテキストですこれはダミーテキストですこれはダミーテキストです</p>
      </div>
    </div>
  </section>
</body>
<%= require('html-loader!../common/footer.html') %>
</html>