<!DOCTYPE html>
<html lang='ja'>
<head>
  <%= require('html-loader!../common/head.html') %>
  <title>contact | Lisq's portfolio</title>
</head>
<body>
  <%= require('html-loader!../common/header.html') %>
  <div class="contact">
    <div class="contact_wrap">
      <div class="contact_detail">
        <div class="contact_detail_contents">
          <p class="contact_detail_attention">仕事依頼等はこちらまでご連絡お願いいたします &#9993;</p>
          <p class="contact_detail_mail">
            nemui.samui.r@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!../common/footer.html') %>
</body>
</html>