@charset "utf-8";


/*---------------------------------------------------------------------------------------------------------------------
	1. Color
---------------------------------------------------------------------------------------------------------------------*/
/*	1.1 Main
---------------------------------------------------------------------------------------------------------------------*/
  /* ベースカラー */
  $primary: #ff0096; //一番よく使う色
  $key: #2f0075; //アクセントカラー
  $secondary: #C00384; //2番目によく使う色
  $secondaryDark: darken($secondary,20%);
  $success: #088312;
  $warning: #e6e200;
  $white: #FDFDFD;
  $error: red;
  $underline: #ff0;
  $footerColor: #F8F8F8;

  /* テキストカラー(若い番号から使用頻度高) */
  $text200: #222; //本文 一番よく使う色
  $text100: #2f0075; //薄い色

  /* リンクカラー(若い番号から使用頻度高) */
  $link200: #{$primary}; //本文 一番よく使う色
  $link100: #{$text100}; //薄い色

  /* 無彩色(若い番号から使用頻度高) */
  $gray500: #818181;
  $gray400: lighten(#FDFDFD,16%);
  $gray300: lighten(#ddd9c1,16%);
  $gray200: #FDFDFD;
  $gray100: #ededed;


/*	1.2 Font
---------------------------------------------------------------------------------------------------------------------*/
//フォントサイズ 10px基準/rem
$fontSizeBase: 1.6rem;

//font
$fontFamilyBase: noto-sans-cjk-jp, sans-serif;
$fontFamilyEng200: din-condensed, sans-serif;
$fontFamilyEng100: mina, serif;

/*	1.3 Bg
---------------------------------------------------------------------------------------------------------------------*/

  /* 無彩色(若い番号から使用頻度高) */
  // $bg500: ,
  // $bg400: ,
  $bgOVR :rgba(107, 103, 94, 0.3);
  $bg300:rgb(249, 251, 252);
  $bg200: $key;
  $bg100: #efecd9;
  $bg100: #FDFDFD;
