@charset "utf-8";
/*---------------------------------------------------------------------------------------------------------------------
	1. Padding / Margin
---------------------------------------------------------------------------------------------------------------------*/
/*	1.1 Spacing
---------------------------------------------------------------------------------------------------------------------*/
.wrapper{
    &__large{
        padding: 0 24px;
    }
}

 @include md {
    .wrapper{
        &__large{
            padding: 0 48px;
        }
    }
}

.maxWidth{
    max-width: $exlg;
}

/*	1.2 Margin
---------------------------------------------------------------------------------------------------------------------*/
